
/* .cityy{
    background-color:;
    height:auto;
} */


.photos{
    margin-top:30px;
    margin-left:5%;
    margin-right:5%;
}

.popular{
    position: absolute;
    margin-top:60px;
    margin-left:160px;
   
    
}

#place{
   
    font-size: 20px;
    margin-left:30%;
    color:rgb(44, 43, 126);
    font-style: italic;
    margin-top:10px;
    letter-spacing: 3px;
    height:auto;
} 


.forts{
    position: absolute;
    margin-top:760px;
    margin-left:160px;
   
    
}
.hills{
    position: absolute;
    margin-top:220vh;
    margin-left:160px;
   
    
}
.city{
    position: absolute;
    margin-top:285vh;
    margin-left:160px;
    padding-bottom: 30px;
    
}

